# General
domain_name  = "jennyannvalenciano.com"
project_name = "vap-site"
aws_region   = "ap-southeast-1"

# Domain & CORS
other_domains = []
dev_origins   = ["http://localhost:3000", "http://localhost:3001"]

# S3
bucket_name = "jenny-vap-site"

# Budget
budget_limit_usd   = "100.0"
budget_alert_email = ["name@email.com"]
