@import "tailwindcss";

/* Disable dark mode */
@variant dark (false);

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono), var(--font-spline-sans-mono);
}

@layer base {
  * {
    scrollbar-gutter: stable;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .font-console {
    font-family: var(--font-spline-sans-mono), Consolas, monospace;
  }

  .scrollbar-gutter-auto {
    scrollbar-gutter: auto;
  }
}
