@import "tailwindcss";

/* Disable dark mode */
@variant dark (false);

@theme {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono), var(--font-spline-sans-mono);
  --color-brand-accent: #e8184d;
  --header-height: 4rem;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .font-console {
    font-family: var(--font-spline-sans-mono), Consolas, monospace;
  }

  .scrollbar-gutter-auto {
    scrollbar-gutter: auto;
  }
}
